$house17rooftile: rgb(138, 80, 78);
$house17chimney: rgb(95, 100, 101);
$house17windowpane: rgb(44, 52, 59);
$house17inside: rgb(0, 6, 18);

#house17 {
  width: $house17width * $zoom;

  background-image: url("../images/house17.png");

  .roof {
    top: 412px * $zoom;
    width: 779px * $zoom;
    height: 240px * $zoom;
    border: 3px * $zoom solid darken($house17rooftile, 20%);
    border-left: 0;
    border-bottom: 0;
    background-color: $house17rooftile;
    background-image: linear-gradient(
        to right,
        darken($house17rooftile, 20%) 0,
        darken($house17rooftile, 20%) 3px * $zoom,
        transparent 3px * $zoom,
        transparent 18px * $zoom
      ),
      radial-gradient(
        circle at top,
        darken($house17rooftile, 10%) 0,
        lighten($house17rooftile, 10%) 2px * $zoom,
        darken($house17rooftile, 10%) 11px * $zoom,
        darken($house17rooftile, 20%) 12px * $zoom,
        darken($house17rooftile, 20%) 15px * $zoom,
        transparent 15px * $zoom
      );
    background-size: 18px * $zoom 15px * $zoom;

    .window {
      &::before {
        left: -20px * $zoom;
        top: -98px * $zoom;
        width: 0;
        height: 0;
        border: 72px * $zoom solid transparent;
        border-bottom: 20px * $zoom solid darken($house17windowpane, 10%);
      }

      width: 105px * $zoom;
      height: 93px * $zoom;
      background-color: rgb(93, 104, 106);
      top: 105px * $zoom;
      border: 6px * $zoom solid darken($house17windowpane, 5%);
      border-bottom: 3px * $zoom solid darken($house17windowpane, 5%);
      background-image: linear-gradient(
          to bottom,
          transparent,
          transparent 31%,
          $house17windowpane 31%,
          $house17windowpane 34%,
          transparent 34%,
          transparent 64%,
          $house17windowpane 64%,
          $house17windowpane 67%,
          transparent 67%,
          transparent
        ),
        linear-gradient(
          to right,
          transparent,
          transparent 29%,
          $house17windowpane 29%,
          $house17windowpane 36%,
          transparent 36%,
          transparent 63%,
          $house17windowpane 63%,
          $house17windowpane 70%,
          transparent 70%,
          transparent
        );

      &::after {
        left: -10px * $zoom;
        top: 96px * $zoom;
        width: 125px * $zoom;
        height: 8px * $zoom;
        background-color: rgba(44, 52, 59, 0.8);
      }

      &:nth-child(1) {
        left: 94px * $zoom;
      }

      &:nth-child(2) {
        left: 343px * $zoom;
      }

      &:nth-child(3) {
        left: 593px * $zoom;
      }
    }

    .chimney {
      top: -145px * $zoom;
      left: 307px * $zoom;
      width: 82px * $zoom;
      height: 149px * $zoom;
      background-color: $house17chimney;
      background-image: linear-gradient(
        to bottom,
        darken($house17chimney, 8%) 0,
        darken($house17chimney, 5%) 5%,
        transparent 2%,
        transparent 55%,
        darken($house17chimney, 5%) 55%,
        darken($house17chimney, 15%) 58%,
        darken($house17chimney, 5%) 60%,
        darken($house17chimney, 5%) 68%,
        transparent 68%,
        transparent
      );

      &::after {
        top: 135px * $zoom;
        left: -3px * $zoom;
        width: 88px * $zoom;
        height: 19px * $zoom;
        background-color: $house17chimney;
        background-image: linear-gradient(to bottom, transparent, darken($house17chimney, 10%));
      }
    }
  }

  .gutter {
    top: 655px * $zoom;
    width: 782px * $zoom;
    height: 9px * $zoom;
    background-image: linear-gradient(to bottom, rgb(69, 69, 69), rgb(19, 18, 22));
  }

  .wall {
    &::before {
      top: -15px * $zoom;
      width: 782px * $zoom;
      height: 13px * $zoom;
      background-image: linear-gradient(
        to bottom,
        rgb(47, 45, 44) 0%,
        rgb(86, 87, 87) 30%,
        rgb(142, 141, 136) 50%,
        rgb(156, 149, 157) 100%
      );
      border-bottom: 2px * $zoom solid rgb(67, 51, 35);
    }

    top: 679px * $zoom;
    width: 782px * $zoom;
    height: 634px * $zoom;
    background-color: rgb(180, 140, 73);

    &::after {
      top: 634px * $zoom;
      width: 782px * $zoom;
      height: 105px * $zoom;
      background-image: linear-gradient(
        to bottom,
        rgb(42, 28, 18) 0%,
        rgb(65, 47, 51) 10%,
        rgb(47, 33, 39) 10%,
        rgb(47, 33, 39) 12%,
        rgb(51, 38, 44) 12%,
        rgb(51, 38, 44) 100%
      );
    }

    .window {
      width: 63px * $zoom;
      height: 94px * $zoom;
      background-color: rgb(94, 112, 125);
      border: 8px * $zoom solid $house17windowpane;
      background-image: linear-gradient(
          to bottom,
          transparent 0,
          transparent 29%,
          $house17windowpane 29%,
          $house17windowpane 37%,
          transparent 37%,
          transparent 66%,
          $house17windowpane 66%,
          $house17windowpane 71%,
          transparent 71%,
          transparent
        ),
        linear-gradient(
          to right,
          transparent 0,
          transparent 43%,
          $house17windowpane 43%,
          $house17windowpane 57%,
          transparent 57%,
          transparent
        );
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        top: 18px * $zoom;
      }
      &:nth-child(1),
      &:nth-child(7),
      &:nth-child(13) {
        left: 45px * $zoom;
      }
      &:nth-child(2),
      &:nth-child(8),
      &:nth-child(14) {
        left: 167px * $zoom;
      }
      &:nth-child(3),
      &:nth-child(9),
      &:nth-child(15) {
        left: 287px * $zoom;
      }
      &:nth-child(4),
      &:nth-child(10) {
        left: 405px * $zoom;
      }
      &:nth-child(5),
      &:nth-child(11),
      &:nth-child(16) {
        left: 524px * $zoom;
      }
      &:nth-child(6),
      &:nth-child(12),
      &:nth-child(17) {
        left: 645px * $zoom;
      }
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9),
      &:nth-child(10),
      &:nth-child(11),
      &:nth-child(12),
      &:nth-child(13),
      &:nth-child(14),
      &:nth-child(15),
      &:nth-child(16),
      &:nth-child(17),
      &:nth-child(18) {
        background-color: rgb(72, 78, 80);
        top: 207px * $zoom;
        height: 111px * $zoom;
      }
      &:nth-child(13),
      &:nth-child(14),
      &:nth-child(15),
      &:nth-child(16),
      &:nth-child(17) {
        top: 443px * $zoom;
        background-color: $house17inside;
        height: 131px * $zoom;
      }
    }

    .sign {
      font-family: "Times New Roman", Times, serif;
      font-weight: bold;
      top: 344px * $zoom;
      left: 90px * $zoom;
      font-size: 79px * $zoom;
      letter-spacing: 16px * $zoom;
      color: rgb(154, 34, 50);
      text-shadow: 2px * $zoom -2px * $zoom 2px * $zoom rgb(245, 102, 106),
        -2px * $zoom 2px * $zoom 2px * $zoom rgb(245, 102, 106), -2px * $zoom 5px * $zoom 5px * $zoom rgb(40, 11, 10);
    }

    .door {
      &::before {
        left: -8px * $zoom;
        top: -58px * $zoom;
        width: 86px * $zoom;
        height: 42px * $zoom;
        background-color: $house17inside;
        border: 8px * $zoom solid $house17windowpane;

        background-image: radial-gradient(
            circle at center,
            $house17inside 0,
            $house17inside 20%,
            $house17windowpane 20%,
            $house17windowpane 24%,
            transparent 24%,
            transparent
          ),
          linear-gradient(
            to bottom,
            transparent 0,
            transparent 48%,
            $house17windowpane 48%,
            $house17windowpane 52%,
            transparent 52%,
            transparent
          ),
          linear-gradient(
            to right,
            transparent 0,
            transparent 49%,
            $house17windowpane 49%,
            $house17windowpane 51%,
            transparent 51%,
            transparent
          );
      }

      z-index: 1;
      left: 394px * $zoom;
      top: 501px * $zoom;
      width: 86px * $zoom;
      height: 178px * $zoom;
      background-color: $house17inside;
      border: 8px * $zoom solid $house17windowpane;
      border-top: 0;
      border-bottom: 0;
    }

    .tattoo-ole {
      .window2 {
        z-index: 1;
        top: 649px * $zoom;
        left: 25px * $zoom;
        width: 79px * $zoom;
        height: 75px * $zoom;
        border: 5px * $zoom solid rgb(4, 2, 13);
        background-color: rgb(68, 58, 51);

        &:nth-child(2) {
          left: 273px * $zoom;
        }

        .sign2 {
          display: inline-block;
          width: 100%;
          background-color: rgb(162, 158, 158);
          color: rgb(32, 21, 30);
          font-family: 'Times New Roman', Times, serif;
          font-size: 10px * $zoom;
          font-weight: bold;
          text-align: center;
        }
      }

      .door2 {
        z-index: 1;
        top: 646px * $zoom;
        left: 152px * $zoom;
        width: 83px * $zoom;
        height: 93px * $zoom;
        background-color: rgb(12, 11, 22);
      }
    }
  }
}
