.house {
  height: 100%;
  float: left;

  position: relative;

  background-size: 100%;
  background-repeat: no-repeat;

  * {
    position: absolute;

    &::before, &::after {
      position: absolute;
      content: "";
    }
  }
}
