$house1width: 1108px;
$house3width: 815px;
$house5width: 848px;
$house7width: 757px;
$house9width: 578px;
$house11width: 725px;
$house13width: 587px;
$house15width: 519px;
$house17width: 1076px;

$numberOfHouses: 2;

body {
  background-image: linear-gradient(
    to bottom,
    rgb(89, 152, 254),
    rgb(135, 205, 246) 1426px * $zoom,
    rgb(46, 48, 50) 1426px * $zoom,
    rgb(69, 75, 81) 1456px * $zoom,
    rgb(89, 95, 101)
  );
}

#nyhavn {
  height: 1488px * $zoom;
  font-weight: bold;
  width: (
      (10 * $numberOfHouses) + // $house1width +
      // $house3width +
      // $house5width +
      // $house7width +
      // $house9width +
      // $house11width +
      // $house13width +
      $house15width + $house17width
    ) * $zoom;
}
